


body{
  width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

body {
  background-color:rgb(55, 68, 83);
  font-size: 2rem;
  color: rgb(236, 226, 213);
}

.App {
  text-align: center;
 

}

.header{
  display: flex;
justify-content: center;
align-items: center;
font-size: 1rem;
margin: 0 0 10rem 0;
}
.user {
  border-bottom: 1px solid rgb(236, 226, 213);
  padding: 1rem;
}
.followers {
  border-bottom: 1px solid rgb(236, 226, 213);
  padding: 1rem;
}


button {
  background-color: #33383f;
  border: 1px solid #37505a;
  color: white;
  font-size: 1.2rem;
  padding: 6px 14px;
}


@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}